* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto 0;
    border: 1px solid red;
}

nav {
    background-color: #286150;
    border-bottom: 10px solid #DDAF94;
    height: 50px;
    position: relative;
}

ul {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

li {
    display: inline;
    color: white;
    padding: 10px
}

main {
    background-color: #FCF7F4;
    position: relative;
}

h1 {
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 340px;
}

img {
    display: block;
    position: relative;
    left: 265px;
    margin: 10px;

}

.description {
    display: inline-block;
    position: relative;
    left: 280px;
    padding-bottom: 30px;
}

footer {
    background-color: #E8CEBF;
}

h2{
    padding: 10px;
    display: block;
    position: relative;
    left: 400px;
}

form {
    display: inline-block;
    border: 3px solid #DCAE93;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 275px;
    width: 400px;
}

form div {
    position: relative;
    left: 80px;
}

#name-entry {
    padding-bottom: 5px;
}

#submit-button input{
    padding: 0px 20px;
    background-color: #4F4847;
    color: white;
    position: relative;
    left: 70px;
}

.copyright {
    background-color: #286150;
    color: white;
    padding: 10px;
    border-bottom: 5px solid #4F4847;
    position: relative;
    
}



