* {
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

main{
    min-height: 95vh;
}

header {
    background-color: #286150;
    color: white;
    border-bottom: 10px solid #DDAF94;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}
header a{
    color: white;
    text-decoration: none;
}

nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 20px;
}

main {
    padding-top: 50px;
}

.container{
    max-width: 60%;
    margin: 0 auto;
}

#bio {
    text-align: center;
    margin: 10px
}

img {
    width: 100%;
    height: auto;
}

#contact {
    padding: 1em;
    background-color:#E8CEBF;
    text-align: center;
}
#contact .form-box {
    padding: 0.5em;
}

form {
    border: 3px solid #DCAD92;
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: #286150;
    color: white;
    text-align: center;
}

/* h1 {
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 340px;
} */


/* .description {
    display: inline-block;
    position: relative;
    left: 280px;
    padding-bottom: 30px;
} */

/* .contact {
    background-color: #E8CEBF;
} */
/* 
h2{
    padding: 10px;
    display: block;
    position: relative;
    left: 400px;
} */

/* form {
    display: inline-block;
    border: 3px solid #DCAE93;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 275px;
    width: 400px;
} */
/* 
form div {
    position: relative;
    left: 80px;
} */

/* #name-entry {
    padding-bottom: 5px;
} */

#submit-button input{
    padding: 0 20px;
    background-color: #4F4847;
    color: white;
}

/* footer {
    background-color: #286150;
} */
/* .copyright {
    color: white;
    padding: 10px;
    border-bottom: 5px solid #4F4847;
    position: relative;
    
} */

